table{
    width: 80%;
    margin: 2% auto;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;
}
.output{
    border-radius: 10px;
}

table tr{
    background-color: rgb(96, 96, 96);
    border-collapse: collapse;
    text-shadow: 5px 5px 20px 5px red;
    height: 40px;
    text-align: center;

}

tr:nth-child(even)
{
    background-color: rgb(161, 161, 161);
    color: black;
}
th{
    font-size: 18px;
    /* border: 1px solid white; */

}
table button{
    margin: 0px 10px;
}
td:nth-child(2){
    width: 50%;
    word-break:break-all;
    word-wrap: break-word;
    white-space: normal;
    margin: 10px 15px;
    text-align: center;
}
td:nth-child(3)
{
    width: 20%;
}
.icon-red,.icon-green{
    width: 24px;
    height: 24px;
    color: red;
}
.icon-red{
    color: red;
}
.icon-green{
    color: green;
}
.no-items{
    background-color: rgb(230, 230, 230);
    /* padding: 3% 10%; */
    text-align: center;
    color: black;
    width: 50%;
    margin: 3% auto;
    padding: 5% 10%;
    border-radius: 30px;
}
.no-items>p{
    font-size: 20px;
}